<div class="container mx-auto">
  <h1 class="mb-3 text-2xl">Angular Icon Library</h1>
  <div class="mb-5">
    <label for="alphabetical">
      <input type="checkbox" name="alphabetical" [value]="alphabetical" (change)="alphabetical = !alphabetical">
      Alphabetical sorted
    </label>
  </div>
  <div *ngIf="!alphabetical">
    <div class="mb-5 grid grid-cols-5">
      <div class="flex flex-row w-48 h-12 m-1 items-center justify-between bg-gray-100 rounded shadow-xl" *ngFor="let icon of keys">
        <p class="w-36 p-2">{{ icon }}</p>
        <div class="w-12 h-12 p-1 border-l border-gray-400 text-gray-700 hover:bg-gray-800 hover:text-gray-100 hover:rounded-r">
          <ngx-icons class="w-12 h-12 stroke-1 stroke-current" name="{{ icon }}"></ngx-icons>
        </div>
      </div>
      <!-- <pre>{{ icon_names | json }}</pre> -->
    </div>
  </div>
  <div *ngIf="alphabetical">
    <div *ngFor="let keys of keys_local">
      <h2 class="mb-2 text-lg">{{keys.key}}</h2>
      <div class="mb-5 grid grid-cols-5">
        <div class="flex flex-row w-48 h-12 m-1 items-center justify-between bg-gray-100 rounded shadow-xl" *ngFor="let icon of keys.value">
          <p class="w-36 p-2">{{ icon }}</p>
          <div class="w-12 h-12 p-1 border-l border-gray-400 text-gray-700 hover:bg-gray-800 hover:text-gray-100 hover:rounded-r">
            <ngx-icons class="w-12 h-12 stroke-1 stroke-current" name="{{ icon }}"></ngx-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>